:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 107 188 255;
  --oui-color-primary-light: 158 221 255;
  --oui-color-primary-darken: 74 154 221;

  --oui-color-link: 128 215 255;
  --oui-color-link-light: 182 241 255;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 255 50 100;
  --oui-color-danger-light: 255 128 173;
  --oui-color-danger-darken: 229 29 84;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 88 255 198;
  --oui-color-success-darken: 14 185 124;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 235 124;
  --oui-color-warning-darken: 255 163 35;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 75 50 125;
  --oui-color-fill-active: 90 65 145;

  --oui-color-base-1: 93 83 123;
  --oui-color-base-2: 80 70 113;
  --oui-color-base-3: 67 57 103;
  --oui-color-base-4: 56 47 93;
  --oui-color-base-5: 49 42 83;
  --oui-color-base-6: 42 36 73;
  --oui-color-base-7: 68 58 108;
  --oui-color-base-8: 30 25 53;
  --oui-color-base-9: 23 19 43;
  --oui-color-base-10: 12 10 28;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 255 50 100;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 41 233 169;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 128 215 255;
  --oui-gradient-primary-end: 158 221 255;

  --oui-gradient-secondary-start: 80 70 113;
  --oui-gradient-secondary-end: 107 188 255;

  --oui-gradient-success-start: 14 185 124;
  --oui-gradient-success-end: 41 233 169;

  --oui-gradient-danger-start: 229 29 84;
  --oui-gradient-danger-end: 255 50 100;

  --oui-gradient-brand-start: 158 221 255;
  --oui-gradient-brand-end: 107 188 255;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 255 163 35;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}